body { 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    overflow:  hidden;
    border-radius: 15px;
    max-width: 500px;
}

input { 
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%)
}

.key { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button { 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    font-size:  24px;
    font-weight: bold;
}

button:hover { 
    background-color: hsla(0, 0%, 0%, 0.893);
}

button:active { 
    background-color: hsla(0, 0%, 0%, 0.53);
}

.imp { 
    background-color: orangered;
}